swagger: '2.0'
info:
  title: 3Di API
  description: |-
    3Di simulation API (latest version: 3.0) 
     Framework release: 1.0.16 
     3Di core release: 2.0.11 
    deployed on:  07:33AM (UTC) on September 04, 2020
  termsOfService: ''
  contact:
    email: info@nelen-schuurmans.nl
  license:
    name: BSD License
  version: '3.0'
host: api.3di.live
schemes:
  - https
basePath: /v3.0
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  Bearer:
    type: apiKey
    name: Authorization
    in: header
security:
  - Bearer: []
paths:
  /auth/profile/:
    get:
      operationId: auth_profile_list
      description: Read-only API endpoint for viewing user details for current user
      parameters:
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/User'
      tags:
        - auth
    parameters: []
  /auth/refresh-token/:
    post:
      operationId: auth_refresh-token_create
      summary: Refresh API authentication token by refresh_token.
      description: |-
        Post "refresh" token as "refresh".

        The return "access" token needs to be sent as HTTP authentication header
        with every request with 'Bearer ' prefix (case-sensitive).
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Refresh'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/Tokens'
      tags:
        - auth
    parameters: []
  /auth/token/:
    post:
      operationId: auth_token_create
      summary: Get an API authentication JWT token.
      description: |-
        Post your username & password to get an "access" and "refresh" JWT token.

        The "access" token needs to be sent as HTTP authentication header
        with every request with a 'Bearer ' prefix (case-sensitive).

        Note that the "access" token expires after some time.

        The "refresh" token can be used to get a new access token
        via the "refresh" endpoint.
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Authenticate'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/Tokens'
      tags:
        - auth
    parameters: []
  /auth/users/:
    get:
      operationId: auth_users_list
      summary: Read-only API endpoint for viewing user details.
      description: |-
        - superusers and staff users might view all users
        - user with a manage role might view all users for the
          organisations they have the manage role for
        - regular users might view their user details
      parameters:
        - name: username
          in: query
          description: ''
          required: false
          type: string
        - name: username__contains
          in: query
          description: ''
          required: false
          type: string
        - name: username__icontains
          in: query
          description: ''
          required: false
          type: string
        - name: username__in
          in: query
          description: Multiple values may be separated by commas.
          required: false
          type: string
        - name: username__startswith
          in: query
          description: ''
          required: false
          type: string
        - name: username__istartswith
          in: query
          description: ''
          required: false
          type: string
        - name: username__endswith
          in: query
          description: ''
          required: false
          type: string
        - name: username__regex
          in: query
          description: ''
          required: false
          type: string
        - name: email
          in: query
          description: ''
          required: false
          type: string
        - name: email__contains
          in: query
          description: ''
          required: false
          type: string
        - name: email__icontains
          in: query
          description: ''
          required: false
          type: string
        - name: email__in
          in: query
          description: Multiple values may be separated by commas.
          required: false
          type: string
        - name: email__startswith
          in: query
          description: ''
          required: false
          type: string
        - name: email__istartswith
          in: query
          description: ''
          required: false
          type: string
        - name: email__endswith
          in: query
          description: ''
          required: false
          type: string
        - name: email__regex
          in: query
          description: ''
          required: false
          type: string
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/User'
      tags:
        - auth
    parameters: []
  /auth/users/{id}/:
    get:
      operationId: auth_users_read
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/User'
      tags:
        - auth
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this user.
        required: true
        type: integer
  /contracts/:
    get:
      operationId: contracts_list
      summary: Overview of organisations that have a valid 3Di contract.
      description: |-
        List all organisations that already have used some fraction
        of their calculation quota (for the current year - the `hours_used`
        property is based on the current calender year)
        ```
        ?hours_used__gt=0
        ```
      parameters:
        - name: organisation__id
          in: query
          description: ''
          required: false
          type: number
        - name: organisation__id__gt
          in: query
          description: ''
          required: false
          type: number
        - name: organisation__id__gte
          in: query
          description: ''
          required: false
          type: number
        - name: organisation__id__lt
          in: query
          description: ''
          required: false
          type: number
        - name: organisation__id__lte
          in: query
          description: ''
          required: false
          type: number
        - name: organisation__id__isnull
          in: query
          description: ''
          required: false
          type: string
        - name: organisation__name
          in: query
          description: ''
          required: false
          type: string
        - name: organisation__name__contains
          in: query
          description: ''
          required: false
          type: string
        - name: organisation__name__icontains
          in: query
          description: ''
          required: false
          type: string
        - name: organisation__name__in
          in: query
          description: Multiple values may be separated by commas.
          required: false
          type: string
        - name: organisation__name__startswith
          in: query
          description: ''
          required: false
          type: string
        - name: organisation__name__istartswith
          in: query
          description: ''
          required: false
          type: string
        - name: organisation__name__endswith
          in: query
          description: ''
          required: false
          type: string
        - name: organisation__name__regex
          in: query
          description: ''
          required: false
          type: string
        - name: organisation__unique_id
          in: query
          description: ''
          required: false
          type: string
        - name: organisation__unique_id__contains
          in: query
          description: ''
          required: false
          type: string
        - name: organisation__unique_id__icontains
          in: query
          description: ''
          required: false
          type: string
        - name: organisation__unique_id__in
          in: query
          description: Multiple values may be separated by commas.
          required: false
          type: string
        - name: organisation__unique_id__startswith
          in: query
          description: ''
          required: false
          type: string
        - name: organisation__unique_id__istartswith
          in: query
          description: ''
          required: false
          type: string
        - name: organisation__unique_id__endswith
          in: query
          description: ''
          required: false
          type: string
        - name: organisation__unique_id__regex
          in: query
          description: ''
          required: false
          type: string
        - name: hours_used__gt
          in: query
          description: ''
          required: false
          type: number
        - name: hours_used__lt
          in: query
          description: ''
          required: false
          type: number
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/Contract'
      tags:
        - contracts
    post:
      operationId: contracts_create
      description: API endpoint for interacting with contracts.
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Contract'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/Contract'
      tags:
        - contracts
    parameters: []
  /contracts/{id}/:
    get:
      operationId: contracts_read
      description: API endpoint for interacting with contracts.
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Contract'
      tags:
        - contracts
    put:
      operationId: contracts_update
      description: API endpoint for interacting with contracts.
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Contract'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Contract'
      tags:
        - contracts
    patch:
      operationId: contracts_partial_update
      description: API endpoint for interacting with contracts.
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Contract'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Contract'
      tags:
        - contracts
    delete:
      operationId: contracts_delete
      description: API endpoint for interacting with contracts.
      parameters: []
      responses:
        '204':
          description: ''
      tags:
        - contracts
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this contract.
        required: true
        type: integer
  /files/:
    get:
      operationId: files_list
      description: A simple ViewSet for viewing simulations
      parameters:
        - name: filename
          in: query
          description: ''
          required: false
          type: string
        - name: filename__icontains
          in: query
          description: ''
          required: false
          type: string
        - name: etag
          in: query
          description: ''
          required: false
          type: string
        - name: expiry_date
          in: query
          description: ''
          required: false
          type: string
        - name: expiry_date__lte
          in: query
          description: ''
          required: false
          type: string
        - name: expiry_date__lt
          in: query
          description: ''
          required: false
          type: string
        - name: expiry_date__gte
          in: query
          description: ''
          required: false
          type: string
        - name: expiry_date__gt
          in: query
          description: ''
          required: false
          type: string
        - name: state
          in: query
          description: ''
          required: false
          type: string
        - name: state__in
          in: query
          description: Multiple values may be separated by commas.
          required: false
          type: string
        - name: type
          in: query
          description: ''
          required: false
          type: string
        - name: type__in
          in: query
          description: Multiple values may be separated by commas.
          required: false
          type: string
        - name: meta
          in: query
          description: ''
          required: false
          type: string
        - name: simulation__status__in
          in: query
          description: ''
          required: false
          type: string
        - name: simulation__status__exclude
          in: query
          description: ''
          required: false
          type: string
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/File'
      tags:
        - files
    parameters: []
  /files/{id}/:
    get:
      operationId: files_read
      description: A simple ViewSet for viewing simulations
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/File'
      tags:
        - files
    put:
      operationId: files_update
      description: A simple ViewSet for viewing simulations
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/File'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/File'
      tags:
        - files
    patch:
      operationId: files_partial_update
      description: A simple ViewSet for viewing simulations
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/File'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/File'
      tags:
        - files
    delete:
      operationId: files_delete
      description: A simple ViewSet for viewing simulations
      parameters: []
      responses:
        '204':
          description: ''
      tags:
        - files
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this file.
        required: true
        type: integer
  /files/{id}/destroy_file/:
    delete:
      operationId: files_destroy_file
      description: A simple ViewSet for viewing simulations
      parameters: []
      responses:
        '204':
          description: ''
          schema:
            $ref: '#/definitions/File'
        '405':
          description: "types that are allowed to be destroyed: ['timeseries', 'rastertimeseries',\
            \ 'savedstate', 'results', 'bulklateral']"
      tags:
        - files
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this file.
        required: true
        type: integer
  /files/{id}/download/:
    get:
      operationId: files_download
      description: Endpoint for downloading files.
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Download'
        '400':
          description: File is not uploaded yet or has been removed
        '404':
          description: File not found
      tags:
        - files
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this file.
        required: true
        type: integer
  /files/{id}/processed/:
    put:
      operationId: files_processed
      summary: |-
        Endpoint to which the upload-processor can enrich file objects
        (and their related objects) with metadata.
      description: For example the geotransform of raster files.
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/FileMeta'
      responses:
        '200':
          description: OK
        '400':
          description: Upload is already processed
        '404':
          description: upload not found
      tags:
        - files
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this file.
        required: true
        type: integer
  /inpy-versions/:
    get:
      operationId: inpy-versions_list
      description: |-
        Inpy is the service for preparing models to become
        usable by the Threedi calculation core. Updates in Inpy often
        result in updates in the calculation core.

        This resource keeps track of updates to the Inpy service.
      parameters:
        - name: threedi_version
          in: query
          description: ''
          required: false
          type: string
        - name: threedi_version__contains
          in: query
          description: ''
          required: false
          type: string
        - name: threedi_version__icontains
          in: query
          description: ''
          required: false
          type: string
        - name: threedi_version__in
          in: query
          description: Multiple values may be separated by commas.
          required: false
          type: string
        - name: threedi_version__startswith
          in: query
          description: ''
          required: false
          type: string
        - name: threedi_version__istartswith
          in: query
          description: ''
          required: false
          type: string
        - name: threedi_version__endswith
          in: query
          description: ''
          required: false
          type: string
        - name: threedi_version__regex
          in: query
          description: ''
          required: false
          type: string
        - name: threedicore_version
          in: query
          description: ''
          required: false
          type: string
        - name: threedicore_version__contains
          in: query
          description: ''
          required: false
          type: string
        - name: threedicore_version__icontains
          in: query
          description: ''
          required: false
          type: string
        - name: threedicore_version__in
          in: query
          description: Multiple values may be separated by commas.
          required: false
          type: string
        - name: threedicore_version__startswith
          in: query
          description: ''
          required: false
          type: string
        - name: threedicore_version__istartswith
          in: query
          description: ''
          required: false
          type: string
        - name: threedicore_version__endswith
          in: query
          description: ''
          required: false
          type: string
        - name: threedicore_version__regex
          in: query
          description: ''
          required: false
          type: string
        - name: slug
          in: query
          description: ''
          required: false
          type: string
        - name: slug__contains
          in: query
          description: ''
          required: false
          type: string
        - name: slug__icontains
          in: query
          description: ''
          required: false
          type: string
        - name: slug__in
          in: query
          description: Multiple values may be separated by commas.
          required: false
          type: string
        - name: slug__startswith
          in: query
          description: ''
          required: false
          type: string
        - name: slug__istartswith
          in: query
          description: ''
          required: false
          type: string
        - name: slug__endswith
          in: query
          description: ''
          required: false
          type: string
        - name: slug__regex
          in: query
          description: ''
          required: false
          type: string
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/InpyVersion'
      tags:
        - inpy-versions
    post:
      operationId: inpy-versions_create
      description: |-
        Inpy is the service for preparing models to become
        usable by the Threedi calculation core. Updates in Inpy often
        result in updates in the calculation core.

        This resource keeps track of updates to the Inpy service.
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/InpyVersion'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/InpyVersion'
      tags:
        - inpy-versions
    parameters: []
  /inpy-versions/{id}/:
    get:
      operationId: inpy-versions_read
      description: |-
        Inpy is the service for preparing models to become
        usable by the Threedi calculation core. Updates in Inpy often
        result in updates in the calculation core.

        This resource keeps track of updates to the Inpy service.
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/InpyVersion'
      tags:
        - inpy-versions
    put:
      operationId: inpy-versions_update
      description: |-
        Inpy is the service for preparing models to become
        usable by the Threedi calculation core. Updates in Inpy often
        result in updates in the calculation core.

        This resource keeps track of updates to the Inpy service.
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/InpyVersion'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/InpyVersion'
      tags:
        - inpy-versions
    patch:
      operationId: inpy-versions_partial_update
      description: |-
        Inpy is the service for preparing models to become
        usable by the Threedi calculation core. Updates in Inpy often
        result in updates in the calculation core.

        This resource keeps track of updates to the Inpy service.
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/InpyVersion'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/InpyVersion'
      tags:
        - inpy-versions
    delete:
      operationId: inpy-versions_delete
      description: |-
        Inpy is the service for preparing models to become
        usable by the Threedi calculation core. Updates in Inpy often
        result in updates in the calculation core.

        This resource keeps track of updates to the Inpy service.
      parameters: []
      responses:
        '204':
          description: ''
      tags:
        - inpy-versions
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this inpy version.
        required: true
        type: integer
  /organisations/:
    get:
      operationId: organisations_list
      summary: Read-only API endpoint for interacting with organisations.
      description: '##Authorization'
      parameters:
        - name: name
          in: query
          description: ''
          required: false
          type: string
        - name: name__contains
          in: query
          description: ''
          required: false
          type: string
        - name: name__icontains
          in: query
          description: ''
          required: false
          type: string
        - name: name__in
          in: query
          description: Multiple values may be separated by commas.
          required: false
          type: string
        - name: name__startswith
          in: query
          description: ''
          required: false
          type: string
        - name: name__istartswith
          in: query
          description: ''
          required: false
          type: string
        - name: name__endswith
          in: query
          description: ''
          required: false
          type: string
        - name: name__regex
          in: query
          description: ''
          required: false
          type: string
        - name: unique_id
          in: query
          description: ''
          required: false
          type: string
        - name: unique_id__contains
          in: query
          description: ''
          required: false
          type: string
        - name: unique_id__icontains
          in: query
          description: ''
          required: false
          type: string
        - name: unique_id__in
          in: query
          description: Multiple values may be separated by commas.
          required: false
          type: string
        - name: unique_id__startswith
          in: query
          description: ''
          required: false
          type: string
        - name: unique_id__istartswith
          in: query
          description: ''
          required: false
          type: string
        - name: unique_id__endswith
          in: query
          description: ''
          required: false
          type: string
        - name: unique_id__regex
          in: query
          description: ''
          required: false
          type: string
        - name: valid_contracts_only
          in: query
          description: ''
          required: false
          type: string
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/Organisation'
      tags:
        - organisations
    parameters: []
  /organisations/{unique_id}/:
    get:
      operationId: organisations_read
      summary: Read-only API endpoint for interacting with organisations.
      description: '##Authorization'
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Organisation'
      tags:
        - organisations
    parameters:
      - name: unique_id
        in: path
        required: true
        type: string
  /organisations/{unique_id}/permissions/:
    get:
      operationId: organisations_permissions
      summary: Read-only API endpoint for interacting with organisations.
      description: '##Authorization'
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/OrganisationRole'
      tags:
        - organisations
    parameters:
      - name: unique_id
        in: path
        required: true
        type: string
  /permissions/:
    get:
      operationId: permissions_list
      description: Permissions management endpoints.
      parameters:
        - name: user__username
          in: query
          description: ''
          required: false
          type: string
        - name: user__username__contains
          in: query
          description: ''
          required: false
          type: string
        - name: user__username__icontains
          in: query
          description: ''
          required: false
          type: string
        - name: user__username__in
          in: query
          description: Multiple values may be separated by commas.
          required: false
          type: string
        - name: user__username__startswith
          in: query
          description: ''
          required: false
          type: string
        - name: user__username__istartswith
          in: query
          description: ''
          required: false
          type: string
        - name: user__username__endswith
          in: query
          description: ''
          required: false
          type: string
        - name: user__username__regex
          in: query
          description: ''
          required: false
          type: string
        - name: role__name
          in: query
          description: ''
          required: false
          type: string
        - name: role__name__contains
          in: query
          description: ''
          required: false
          type: string
        - name: role__name__icontains
          in: query
          description: ''
          required: false
          type: string
        - name: role__name__in
          in: query
          description: Multiple values may be separated by commas.
          required: false
          type: string
        - name: role__name__startswith
          in: query
          description: ''
          required: false
          type: string
        - name: role__name__istartswith
          in: query
          description: ''
          required: false
          type: string
        - name: role__name__endswith
          in: query
          description: ''
          required: false
          type: string
        - name: role__name__regex
          in: query
          description: ''
          required: false
          type: string
        - name: organisation__name
          in: query
          description: ''
          required: false
          type: string
        - name: organisation__name__contains
          in: query
          description: ''
          required: false
          type: string
        - name: organisation__name__icontains
          in: query
          description: ''
          required: false
          type: string
        - name: organisation__name__in
          in: query
          description: Multiple values may be separated by commas.
          required: false
          type: string
        - name: organisation__name__startswith
          in: query
          description: ''
          required: false
          type: string
        - name: organisation__name__istartswith
          in: query
          description: ''
          required: false
          type: string
        - name: organisation__name__endswith
          in: query
          description: ''
          required: false
          type: string
        - name: organisation__name__regex
          in: query
          description: ''
          required: false
          type: string
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/OrganisationRole'
      tags:
        - permissions
    post:
      operationId: permissions_create
      summary: create a role for an existing user in an existing organisation
      description: |-
        Example payload:

            {
              "user": "chuck.norris",  # user name
              "role": "follow_simulation",  # role name
              "organisation": "48dac75bef8a42ebbb52e8f89bbdb9f2"  # unique id
            }
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/OrganisationRole'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/OrganisationRole'
      tags:
        - permissions
    parameters: []
  /permissions/{id}/:
    get:
      operationId: permissions_read
      description: Permissions management endpoints.
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/OrganisationRole'
      tags:
        - permissions
    delete:
      operationId: permissions_delete
      description: Permissions management endpoints.
      parameters: []
      responses:
        '204':
          description: ''
      tags:
        - permissions
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this user organisation role.
        required: true
        type: integer
  /repositories/:
    get:
      operationId: repositories_list
      description: A simple ViewSet for viewing modelmeta
      parameters:
        - name: slug
          in: query
          description: ''
          required: false
          type: string
        - name: slug__contains
          in: query
          description: ''
          required: false
          type: string
        - name: slug__icontains
          in: query
          description: ''
          required: false
          type: string
        - name: slug__in
          in: query
          description: Multiple values may be separated by commas.
          required: false
          type: string
        - name: slug__startswith
          in: query
          description: ''
          required: false
          type: string
        - name: slug__istartswith
          in: query
          description: ''
          required: false
          type: string
        - name: slug__endswith
          in: query
          description: ''
          required: false
          type: string
        - name: slug__regex
          in: query
          description: ''
          required: false
          type: string
        - name: organisation__id
          in: query
          description: ''
          required: false
          type: number
        - name: organisation__id__gt
          in: query
          description: ''
          required: false
          type: number
        - name: organisation__id__gte
          in: query
          description: ''
          required: false
          type: number
        - name: organisation__id__lt
          in: query
          description: ''
          required: false
          type: number
        - name: organisation__id__lte
          in: query
          description: ''
          required: false
          type: number
        - name: organisation__id__isnull
          in: query
          description: ''
          required: false
          type: string
        - name: organisation__name
          in: query
          description: ''
          required: false
          type: string
        - name: organisation__name__contains
          in: query
          description: ''
          required: false
          type: string
        - name: organisation__name__icontains
          in: query
          description: ''
          required: false
          type: string
        - name: organisation__name__in
          in: query
          description: Multiple values may be separated by commas.
          required: false
          type: string
        - name: organisation__name__startswith
          in: query
          description: ''
          required: false
          type: string
        - name: organisation__name__istartswith
          in: query
          description: ''
          required: false
          type: string
        - name: organisation__name__endswith
          in: query
          description: ''
          required: false
          type: string
        - name: organisation__name__regex
          in: query
          description: ''
          required: false
          type: string
        - name: organisation__unique_id
          in: query
          description: ''
          required: false
          type: string
        - name: organisation__unique_id__contains
          in: query
          description: ''
          required: false
          type: string
        - name: organisation__unique_id__icontains
          in: query
          description: ''
          required: false
          type: string
        - name: organisation__unique_id__in
          in: query
          description: Multiple values may be separated by commas.
          required: false
          type: string
        - name: organisation__unique_id__startswith
          in: query
          description: ''
          required: false
          type: string
        - name: organisation__unique_id__istartswith
          in: query
          description: ''
          required: false
          type: string
        - name: organisation__unique_id__endswith
          in: query
          description: ''
          required: false
          type: string
        - name: organisation__unique_id__regex
          in: query
          description: ''
          required: false
          type: string
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/Repository'
      tags:
        - repositories
    post:
      operationId: repositories_create
      description: A simple ViewSet for viewing modelmeta
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Repository'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/Repository'
      tags:
        - repositories
    parameters: []
  /repositories/{id}/:
    get:
      operationId: repositories_read
      description: A simple ViewSet for viewing modelmeta
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Repository'
      tags:
        - repositories
    put:
      operationId: repositories_update
      description: A simple ViewSet for viewing modelmeta
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Repository'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Repository'
      tags:
        - repositories
    patch:
      operationId: repositories_partial_update
      description: A simple ViewSet for viewing modelmeta
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Repository'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Repository'
      tags:
        - repositories
    delete:
      operationId: repositories_delete
      description: A simple ViewSet for viewing modelmeta
      parameters: []
      responses:
        '204':
          description: ''
      tags:
        - repositories
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this repository.
        required: true
        type: integer
  /repositories/{id}/revisions/:
    get:
      operationId: repositories_revisions
      description: A simple ViewSet for viewing modelmeta
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/Revision'
      tags:
        - repositories
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this repository.
        required: true
        type: integer
  /repositories/{id}/threedimodels/:
    get:
      operationId: repositories_threedimodels
      description: A simple ViewSet for viewing modelmeta
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/ThreediModel'
      tags:
        - repositories
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this repository.
        required: true
        type: integer
  /revisions/:
    get:
      operationId: revisions_list
      description: A simple ViewSet for viewing modelmeta
      parameters:
        - name: number
          in: query
          description: ''
          required: false
          type: number
        - name: number__gt
          in: query
          description: ''
          required: false
          type: number
        - name: number__gte
          in: query
          description: ''
          required: false
          type: number
        - name: number__lt
          in: query
          description: ''
          required: false
          type: number
        - name: number__lte
          in: query
          description: ''
          required: false
          type: number
        - name: number__isnull
          in: query
          description: ''
          required: false
          type: string
        - name: hash
          in: query
          description: ''
          required: false
          type: string
        - name: hash__contains
          in: query
          description: ''
          required: false
          type: string
        - name: hash__icontains
          in: query
          description: ''
          required: false
          type: string
        - name: hash__in
          in: query
          description: Multiple values may be separated by commas.
          required: false
          type: string
        - name: hash__startswith
          in: query
          description: ''
          required: false
          type: string
        - name: hash__istartswith
          in: query
          description: ''
          required: false
          type: string
        - name: hash__endswith
          in: query
          description: ''
          required: false
          type: string
        - name: hash__regex
          in: query
          description: ''
          required: false
          type: string
        - name: repository__id
          in: query
          description: ''
          required: false
          type: number
        - name: repository__id__gt
          in: query
          description: ''
          required: false
          type: number
        - name: repository__id__gte
          in: query
          description: ''
          required: false
          type: number
        - name: repository__id__lt
          in: query
          description: ''
          required: false
          type: number
        - name: repository__id__lte
          in: query
          description: ''
          required: false
          type: number
        - name: repository__id__isnull
          in: query
          description: ''
          required: false
          type: string
        - name: repository__slug
          in: query
          description: ''
          required: false
          type: string
        - name: repository__slug__contains
          in: query
          description: ''
          required: false
          type: string
        - name: repository__slug__icontains
          in: query
          description: ''
          required: false
          type: string
        - name: repository__slug__in
          in: query
          description: Multiple values may be separated by commas.
          required: false
          type: string
        - name: repository__slug__startswith
          in: query
          description: ''
          required: false
          type: string
        - name: repository__slug__istartswith
          in: query
          description: ''
          required: false
          type: string
        - name: repository__slug__endswith
          in: query
          description: ''
          required: false
          type: string
        - name: repository__slug__regex
          in: query
          description: ''
          required: false
          type: string
        - name: repository__organisation__name
          in: query
          description: ''
          required: false
          type: string
        - name: repository__organisation__name__contains
          in: query
          description: ''
          required: false
          type: string
        - name: repository__organisation__name__icontains
          in: query
          description: ''
          required: false
          type: string
        - name: repository__organisation__name__in
          in: query
          description: Multiple values may be separated by commas.
          required: false
          type: string
        - name: repository__organisation__name__startswith
          in: query
          description: ''
          required: false
          type: string
        - name: repository__organisation__name__istartswith
          in: query
          description: ''
          required: false
          type: string
        - name: repository__organisation__name__endswith
          in: query
          description: ''
          required: false
          type: string
        - name: repository__organisation__name__regex
          in: query
          description: ''
          required: false
          type: string
        - name: repository__organisation__unique_id
          in: query
          description: ''
          required: false
          type: string
        - name: repository__organisation__unique_id__contains
          in: query
          description: ''
          required: false
          type: string
        - name: repository__organisation__unique_id__icontains
          in: query
          description: ''
          required: false
          type: string
        - name: repository__organisation__unique_id__in
          in: query
          description: Multiple values may be separated by commas.
          required: false
          type: string
        - name: repository__organisation__unique_id__startswith
          in: query
          description: ''
          required: false
          type: string
        - name: repository__organisation__unique_id__istartswith
          in: query
          description: ''
          required: false
          type: string
        - name: repository__organisation__unique_id__endswith
          in: query
          description: ''
          required: false
          type: string
        - name: repository__organisation__unique_id__regex
          in: query
          description: ''
          required: false
          type: string
        - name: is_pinned
          in: query
          description: ''
          required: false
          type: string
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/Revision'
      tags:
        - revisions
    post:
      operationId: revisions_create
      description: A simple ViewSet for viewing modelmeta
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Revision'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/Revision'
      tags:
        - revisions
    parameters: []
  /revisions/{id}/:
    get:
      operationId: revisions_read
      description: A simple ViewSet for viewing modelmeta
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Revision'
      tags:
        - revisions
    put:
      operationId: revisions_update
      description: A simple ViewSet for viewing modelmeta
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Revision'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Revision'
      tags:
        - revisions
    patch:
      operationId: revisions_partial_update
      description: A simple ViewSet for viewing modelmeta
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Revision'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Revision'
      tags:
        - revisions
    delete:
      operationId: revisions_delete
      description: A simple ViewSet for viewing modelmeta
      parameters: []
      responses:
        '204':
          description: ''
      tags:
        - revisions
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this revision.
        required: true
        type: integer
  /revisions/{id}/threedimodels/:
    get:
      operationId: revisions_threedimodels
      description: A simple ViewSet for viewing modelmeta
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/ThreediModel'
      tags:
        - revisions
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this revision.
        required: true
        type: integer
  /roles/:
    get:
      operationId: roles_list
      description: Read-only API endpoint for viewing roles
      parameters:
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/Role'
      tags:
        - roles
    parameters: []
  /roles/{id}/:
    get:
      operationId: roles_read
      description: Read-only API endpoint for viewing roles
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Role'
      tags:
        - roles
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this role.
        required: true
        type: integer
  /simulations/:
    get:
      operationId: simulations_list
      summary: |-
        List all simulations resources.
        By default the results are sorted from newest to oldest.
      description: |-
        The reverse this order

        ```
            ?created
        ```
        In general it is possible to specify reverse orderings by prefixing
        the field name with '-', like so:

        ```
            ?-id
        ```
        Other fields that can be used to order the results are `name` and `id`.

        Several filter are available, for instance the creation date of
        the resource. Some usage examples:

        To get all simulation resources that have been created on
        Guido van Rossum's birthday

        ```
            ?created__date=1956-01-31
        ```

        To get all simulation resources that have been created during the
        1988 UEFA European Football Championship
        ```
           ?created__date__gte=1988-06-10&created__date__lte=1988-06-25
        ```

        To get all simulation resources that have been created in the month of
        the Carnation Revolution
        ```
            ?created__year=1974&created__month=04
        ```
      parameters:
        - name: name
          in: query
          description: ''
          required: false
          type: string
        - name: name__contains
          in: query
          description: ''
          required: false
          type: string
        - name: name__icontains
          in: query
          description: ''
          required: false
          type: string
        - name: name__in
          in: query
          description: Multiple values may be separated by commas.
          required: false
          type: string
        - name: name__startswith
          in: query
          description: ''
          required: false
          type: string
        - name: name__istartswith
          in: query
          description: ''
          required: false
          type: string
        - name: name__endswith
          in: query
          description: ''
          required: false
          type: string
        - name: name__regex
          in: query
          description: ''
          required: false
          type: string
        - name: uuid
          in: query
          description: ''
          required: false
          type: string
        - name: uuid__contains
          in: query
          description: ''
          required: false
          type: string
        - name: uuid__icontains
          in: query
          description: ''
          required: false
          type: string
        - name: uuid__in
          in: query
          description: Multiple values may be separated by commas.
          required: false
          type: string
        - name: uuid__startswith
          in: query
          description: ''
          required: false
          type: string
        - name: uuid__istartswith
          in: query
          description: ''
          required: false
          type: string
        - name: uuid__endswith
          in: query
          description: ''
          required: false
          type: string
        - name: uuid__regex
          in: query
          description: ''
          required: false
          type: string
        - name: created__date
          in: query
          description: ''
          required: false
          type: string
        - name: created__date__gt
          in: query
          description: ''
          required: false
          type: string
        - name: created__date__gte
          in: query
          description: ''
          required: false
          type: string
        - name: created__date__lt
          in: query
          description: ''
          required: false
          type: string
        - name: created__date__lte
          in: query
          description: ''
          required: false
          type: string
        - name: created__year
          in: query
          description: ''
          required: false
          type: number
        - name: created__year__gt
          in: query
          description: ''
          required: false
          type: number
        - name: created__year__gte
          in: query
          description: ''
          required: false
          type: number
        - name: created__year__lt
          in: query
          description: ''
          required: false
          type: number
        - name: created__year__lte
          in: query
          description: ''
          required: false
          type: number
        - name: created__month
          in: query
          description: ''
          required: false
          type: number
        - name: created__month__lte
          in: query
          description: ''
          required: false
          type: number
        - name: created__day
          in: query
          description: ''
          required: false
          type: number
        - name: created__day__lt
          in: query
          description: ''
          required: false
          type: number
        - name: user__username
          in: query
          description: ''
          required: false
          type: string
        - name: user__username__istartswith
          in: query
          description: ''
          required: false
          type: string
        - name: tags__in
          in: query
          description: ''
          required: false
          type: string
        - name: ordering
          in: query
          description: Which field to use when ordering the results.
          required: false
          type: string
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/Simulation'
      tags:
        - simulations
    post:
      operationId: simulations_create
      summary: Create a simulation resource
      description: |-
        There are two options to specify the desired duration for the
        simulation, either by using the ``end_datetime`` **or** the
        ``duration`` parameter.

        ```
        {
          "name":           # give the simualtion a name (optional)
          "threedimodel":   # The model schema to use for the simulation by
                            referring to the id of the threedimodel resource
          "organisation":   # uuid of the organisation for which the
                            simulation is run
          "start_datetime": # datetime (in ISO 8601 (UTC) format) for the
                            simulation start, e.g. "YYYY-MM-DDThh:mm:ss"
          "end_datetime":   # datetime (in ISO 8601 (UTC) format) for the
                            simulation end, e.g. "YYYY-MM-DDThh:mm:ss"
          "duration":       # in seconds, can be used instead of end_datetime
        }
        ```
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Simulation'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/Simulation'
      tags:
        - simulations
    parameters: []
  /simulations/post_processing/lizard/queue/:
    get:
      operationId: simulations_post_processing_lizard_queue_list
      description: |-
        Read-only API endpoint for viewing simulations that need to be
        post-processed by Lizard (post-processing status is 'requested').
      parameters:
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/PostProcessingQueue'
      tags:
        - simulations
    parameters: []
  /simulations/{id}/:
    get:
      operationId: simulations_read
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Simulation'
      tags:
        - simulations
    put:
      operationId: simulations_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/SimulationUpdate'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/SimulationUpdate'
      tags:
        - simulations
    patch:
      operationId: simulations_partial_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/SimulationUpdate'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/SimulationUpdate'
      tags:
        - simulations
    delete:
      operationId: simulations_delete
      description: ''
      parameters: []
      responses:
        '204':
          description: ''
      tags:
        - simulations
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this simulation.
        required: true
        type: integer
  /simulations/{id}/events/:
    get:
      operationId: simulations_events
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Event'
      tags:
        - simulations
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this simulation.
        required: true
        type: integer
  /simulations/{simulation_pk}/actions/:
    post:
      operationId: simulations_actions_create
      summary: Post an action to the simulation to start, pause or end it.
      description: |-
        Example usage:

        To initialize a simulation (and pause)
        ```
        {"name": "initialize"}
        ```

        To initialize and directly run a simulation
        ```
        {"name": "start"}
        ```
        Also use "start" to resume a paused simulation.

        If you want to pause the simulation automatically after a given
        duration use the duration parameter
        ```
        {
          "name": "start",
          "duration": 2500
        }
        ```

        To pause a simulation
        ```
        {"name": "pause"}
        ```
        Please note: The simulation will automatically be shut down after the
        default timeout of 300 seconds has been reached. You can customize
        this value by specifying the timeout parameter
        ```
        {
          "name": "pause",
          "timeout": 999
        }
        ```

        To end a simulation
        ```
        {"name": "shutdown"}
        ```

        To queue a simulation
        ```
        {"name": "queue"}
        ```
        Queued simulations will be started as soon as a session spot becomes
        available. If a session spot is directly is available the simulation
        will also be started immediately. The response body will then contain
        `{"name": "start"}`
        ```
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Action'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/Action'
        '202':
          description: ''
          schema:
            $ref: '#/definitions/Action'
        '429':
          description: No available/free sessions
      tags:
        - simulations
    parameters:
      - name: simulation_pk
        in: path
        required: true
        type: string
  /simulations/{simulation_pk}/actions/reset_pause_timeout/:
    post:
      operationId: simulations_actions_reset_pause_timeout
      summary: Reset the pause timeout with the new specified timeout value
      description: |-
        You can only reset the pause timeout when the SimulationStatus.name is
        'initialized' and SimulationStatus.paused is True.
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Timeout'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/Action'
      tags:
        - simulations
    parameters:
      - name: simulation_pk
        in: path
        required: true
        type: string
  /simulations/{simulation_pk}/create-saved-states/stable-threshold/:
    get:
      operationId: simulations_create-saved-states_stable-threshold_list
      description: Stable threshold SavedState
      parameters:
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/StableThresholdSavedState'
      tags:
        - simulations
    post:
      operationId: simulations_create-saved-states_stable-threshold_create
      summary: |-
        Save the state of the simulation to file when a given (set of)
        variable(s) becomes stable
      description: |-
        Example
        ```
        {
          "expiry": "2020-08-15T13:02:30.317Z",
          "thresholds": [
            {
              "variable": "s1",
              "value": 0.005
            }
          ]
        }
        ```
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/StableThresholdSavedState'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/StableThresholdSavedState'
      tags:
        - simulations
    parameters:
      - name: simulation_pk
        in: path
        required: true
        type: string
  /simulations/{simulation_pk}/create-saved-states/stable-threshold/{id}/:
    get:
      operationId: simulations_create-saved-states_stable-threshold_read
      description: Stable threshold SavedState
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/StableThresholdSavedState'
      tags:
        - simulations
    put:
      operationId: simulations_create-saved-states_stable-threshold_update
      description: Stable threshold SavedState
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/StableThresholdSavedState'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/StableThresholdSavedState'
      tags:
        - simulations
    patch:
      operationId: simulations_create-saved-states_stable-threshold_partial_update
      description: When the simulation has started this resource can not be patched.
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/StableThresholdSavedState'
      responses:
        '200':
          description: Successfully patched the resource
        '409':
          description: Conflict with the current simulation status
      tags:
        - simulations
    delete:
      operationId: simulations_create-saved-states_stable-threshold_delete
      description: Stable threshold SavedState
      parameters: []
      responses:
        '204':
          description: ''
      tags:
        - simulations
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this saved state.
        required: true
        type: integer
      - name: simulation_pk
        in: path
        required: true
        type: string
  /simulations/{simulation_pk}/create-saved-states/stable-threshold/{id}/upload/:
    post:
      operationId: simulations_create-saved-states_stable-threshold_upload
      description: Stable threshold SavedState
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Upload'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/Upload'
        '404':
          description: Simulation not found
      tags:
        - simulations
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this saved state.
        required: true
        type: integer
      - name: simulation_pk
        in: path
        required: true
        type: string
  /simulations/{simulation_pk}/create-saved-states/timed/:
    get:
      operationId: simulations_create-saved-states_timed_list
      description: Timed SavedState
      parameters:
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/TimedSavedStateUpdate'
      tags:
        - simulations
    post:
      operationId: simulations_create-saved-states_timed_create
      summary: Save the state at a given time of the simulation to file
      description: |-
        ```
            {
              "name":   # custom name for the saved state (optional)
              "tags":   # add tags to the resource. Either space or comma
                        separated (optional)
              "expiry": # datetime (in ISO 8601 (UTC) format) until the saved
                        state file will be kept
              "time":   # the state at this given time of the simulation will
                         be saved to file
            }
        ```
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/TimedSavedStateUpdate'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/TimedSavedStateUpdate'
      tags:
        - simulations
    parameters:
      - name: simulation_pk
        in: path
        required: true
        type: string
  /simulations/{simulation_pk}/create-saved-states/timed/{id}/:
    get:
      operationId: simulations_create-saved-states_timed_read
      description: Timed SavedState
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/TimedSavedStateUpdate'
      tags:
        - simulations
    put:
      operationId: simulations_create-saved-states_timed_update
      description: Timed SavedState
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/TimedSavedStateUpdate'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/TimedSavedStateUpdate'
      tags:
        - simulations
    patch:
      operationId: simulations_create-saved-states_timed_partial_update
      description: Timed SavedState
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/TimedSavedStateUpdate'
      responses:
        '200':
          description: Successfully patched the resource
        '409':
          description: Conflict with the current simulation status
      tags:
        - simulations
    delete:
      operationId: simulations_create-saved-states_timed_delete
      description: Timed SavedState
      parameters: []
      responses:
        '204':
          description: ''
      tags:
        - simulations
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this saved state.
        required: true
        type: integer
      - name: simulation_pk
        in: path
        required: true
        type: string
  /simulations/{simulation_pk}/create-saved-states/timed/{id}/upload/:
    post:
      operationId: simulations_create-saved-states_timed_upload
      description: Timed SavedState
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Upload'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/Upload'
        '404':
          description: Simulation not found
      tags:
        - simulations
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this saved state.
        required: true
        type: integer
      - name: simulation_pk
        in: path
        required: true
        type: string
  /simulations/{simulation_pk}/events/boundaryconditions/file/:
    get:
      operationId: simulations_events_boundaryconditions_file_list
      description: ''
      parameters:
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/FileBoundaryCondition'
      tags:
        - simulations
    post:
      operationId: simulations_events_boundaryconditions_file_create
      summary: Endpoint for uploading boundary-conditions file
      description: |-
        The response provides a put_url which allows you to upload a file containing one
        or more boundary-conditions.

        The uploaded file should be a JSON-file containing an array of
        boundary-conditions timeseries. Example of the content of such a file:
        ```
        [
            {
                "interpolate": false,
                "values": [
                    [0, 0.5],
                    [500, 0,8],
                    [1000, 0]
                ]
            },
            {
                "interpolate": false,
                "values": [
                    [0, 0,3],
                    [400, 0.1]
                ]
            },
            {
                "interpolate": false,
                "values": [
                    [0, -2.4],
                    [1300, 0,3],
                    [3000, 1.2],
                    [3600, 0]
                ]
            }
        ]
        ```

        When providing a boundary-condition timeseries file via this endpoint, the
        timeseries boundary-conditions defined in the threedimodel will be ignored.

        The number of timeseries in the uploaded json-file should correspond with the
        number of boundary-conditions defined in the threedimodel.
        The timeseries are applied to the boundary-conditions in the order they are
        defined. Thus, the first timeseries in the uploaded JSON-file will be applied
        to the first boundary-condition in the threedimodel.
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Upload'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/Upload'
      tags:
        - simulations
    parameters:
      - name: simulation_pk
        in: path
        required: true
        type: string
  /simulations/{simulation_pk}/events/boundaryconditions/file/{id}/:
    get:
      operationId: simulations_events_boundaryconditions_file_read
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/FileBoundaryCondition'
      tags:
        - simulations
    put:
      operationId: simulations_events_boundaryconditions_file_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/FileBoundaryCondition'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/FileBoundaryCondition'
      tags:
        - simulations
    patch:
      operationId: simulations_events_boundaryconditions_file_partial_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/FileBoundaryCondition'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/FileBoundaryCondition'
      tags:
        - simulations
    delete:
      operationId: simulations_events_boundaryconditions_file_delete
      description: |-
        destroy resource only if the event has not yet been applied to
        the associated simulation
      parameters: []
      responses:
        '204':
          description: Successfully deleted the resource
        '409':
          description: Conflict with the current simulation status
      tags:
        - simulations
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this bulk boundary condition.
        required: true
        type: integer
      - name: simulation_pk
        in: path
        required: true
        type: string
  /simulations/{simulation_pk}/events/boundaryconditions/file/{id}/download/:
    get:
      operationId: simulations_events_boundaryconditions_file_download
      description: Endpoint for downloading files.
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Download'
        '400':
          description: File is not uploaded yet or has been removed
        '404':
          description: File not found
      tags:
        - simulations
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this bulk boundary condition.
        required: true
        type: integer
      - name: simulation_pk
        in: path
        required: true
        type: string
  /simulations/{simulation_pk}/events/boundaryconditions/file/{id}/processed/:
    put:
      operationId: simulations_events_boundaryconditions_file_processed
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/BaseEventState'
      responses:
        '200':
          description: OK
        '400':
          description: Event is already processed
      tags:
        - simulations
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this bulk boundary condition.
        required: true
        type: integer
      - name: simulation_pk
        in: path
        required: true
        type: string
  /simulations/{simulation_pk}/events/breaches/:
    get:
      operationId: simulations_events_breaches_list
      description: A simple ViewSet for viewing Breaches
      parameters:
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/Breach'
      tags:
        - simulations
    post:
      operationId: simulations_events_breaches_create
      description: |-
        Create a breach during a given simulation. The `potential_breach`
        parameter refers to the id of a potential location associated with the
        threedimodel. A list of these locations can be retrieved at the uri
        `v3.0/threedimodels/{id}/potentialbreaches/`

        The `duration_till_max_depth` parameter describes the time it takes until
        the deepest point of the breach is reached. [seconds]

        `maximum_breach_depth` specifies the maximum depth of the breach
        relative to the top of the levee [meters]

        `initial_width` of the breach [meters]

        `discharge_coefficient_positive` and `discharge_coefficient_negative`
        are dimensionless parameters to deal with behaviour of energy loss
        around a breach.
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Breach'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/Breach'
      tags:
        - simulations
    parameters:
      - name: simulation_pk
        in: path
        required: true
        type: string
  /simulations/{simulation_pk}/events/breaches/{id}/:
    get:
      operationId: simulations_events_breaches_read
      description: A simple ViewSet for viewing Breaches
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Breach'
      tags:
        - simulations
    put:
      operationId: simulations_events_breaches_update
      description: A simple ViewSet for viewing Breaches
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Breach'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Breach'
      tags:
        - simulations
    patch:
      operationId: simulations_events_breaches_partial_update
      description: |-
        Please note: **Breach resources are not allowed to be patched after the
        simulation has started**
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Breach'
      responses:
        '200':
          description: Successfully patched the resource
        '409':
          description: Conflict with the current simulation status
      tags:
        - simulations
    delete:
      operationId: simulations_events_breaches_delete
      description: |-
        destroy resource only if the event has not yet been applied to
        the associated simulation
      parameters: []
      responses:
        '204':
          description: Successfully deleted the resource
        '409':
          description: Conflict with the current simulation status
      tags:
        - simulations
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this breach.
        required: true
        type: integer
      - name: simulation_pk
        in: path
        required: true
        type: string
  /simulations/{simulation_pk}/events/lateral/constant/:
    get:
      operationId: simulations_events_lateral_constant_list
      description: A simple ViewSet for viewing ConstantLateral
      parameters:
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/ConstantLateral'
      tags:
        - simulations
    post:
      operationId: simulations_events_lateral_constant_create
      description: A simple ViewSet for viewing ConstantLateral
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/ConstantLateral'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/ConstantLateral'
      tags:
        - simulations
    parameters:
      - name: simulation_pk
        in: path
        required: true
        type: string
  /simulations/{simulation_pk}/events/lateral/constant/{id}/:
    get:
      operationId: simulations_events_lateral_constant_read
      description: A simple ViewSet for viewing ConstantLateral
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/ConstantLateral'
      tags:
        - simulations
    put:
      operationId: simulations_events_lateral_constant_update
      description: A simple ViewSet for viewing ConstantLateral
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/ConstantLateral'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/ConstantLateral'
      tags:
        - simulations
    patch:
      operationId: simulations_events_lateral_constant_partial_update
      description: |-
        when the simulation has started only the duration parameter might
        be patched
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/ConstantLateral'
      responses:
        '200':
          description: Successfully patched the resource
        '409':
          description: Conflict with the current simulation status
      tags:
        - simulations
    delete:
      operationId: simulations_events_lateral_constant_delete
      description: |-
        destroy resource only if the event has not yet been applied to
        the associated simulation
      parameters: []
      responses:
        '204':
          description: Successfully deleted the resource
        '409':
          description: Conflict with the current simulation status
      tags:
        - simulations
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this lateral.
        required: true
        type: integer
      - name: simulation_pk
        in: path
        required: true
        type: string
  /simulations/{simulation_pk}/events/lateral/constant/{id}/processed/:
    put:
      operationId: simulations_events_lateral_constant_processed
      description: A simple ViewSet for viewing ConstantLateral
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/GridEventState'
      responses:
        '200':
          description: OK
        '400':
          description: Event is already processed
      tags:
        - simulations
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this lateral.
        required: true
        type: integer
      - name: simulation_pk
        in: path
        required: true
        type: string
  /simulations/{simulation_pk}/events/lateral/file/:
    get:
      operationId: simulations_events_lateral_file_list
      description: ''
      parameters:
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/FileLateral'
      tags:
        - simulations
    post:
      operationId: simulations_events_lateral_file_create
      summary: Endpoint for uploading a file with one or more laterals
      description: |-
        The response provides a put_url which allows you to upload a file containing one
        or more laterals. These laterals should either be a constant- or a
        timeseries-lateral, or a combination of both. See their respective endpoint for
        the required fields of these laterals.

        The uploaded file should be a JSON-file containing an array of laterals. Example
        of the content of such a file:
        ```
        [
          {
            "offset": 100,
            "value": 0.05,
            "duration": 300,
            "units": "m3/s",
            "connection_node": 5
          },
          {
            "offset": 180,
            "interpolate": false,
            "values": [
              [0.0, 0.0002],
              [900.0, 0.0],
              [1200.0, 0.0001],
              [1620.0, 0.0]
            ],
            "units": "m3/s",
            "connection_node": 4
          },
          {
            "offset": 0,
            "value": 0.03,
            "duration": 500,
            "units": "m3/s",
            "point": {
              "type": "Point",
              "coordinates": [4.70184629, 52.62586862]
            }
          }
        ]
        ```

        The `offset` of this file-lateral-event will be applied to each individual
        lataral offset in the uploaded file.
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/UploadEventFile'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/UploadEventFile'
      tags:
        - simulations
    parameters:
      - name: simulation_pk
        in: path
        required: true
        type: string
  /simulations/{simulation_pk}/events/lateral/file/{id}/:
    get:
      operationId: simulations_events_lateral_file_read
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/FileLateral'
      tags:
        - simulations
    put:
      operationId: simulations_events_lateral_file_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/FileLateral'
      responses:
        '200':
          description: ''
          schema:
[...]
