swagger: '2.0'
info:
  title: 3Di API
  description: "3Di simulation API (latest version: 3.0) \n Framework release: 0.0.32\
    \ \n 3Di core release: 2.0.4 \ndeployed on:  01:25PM (UTC) on January 17, 2020"
  termsOfService: ''
  contact:
    email: info@nelen-schuurmans.nl
  license:
    name: BSD License
  version: '3.0'
host: api.3di.live
schemes:
  - https
basePath: /v3.0
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  Bearer:
    type: apiKey
    name: Authorization
    in: header
security:
  - Bearer: []
paths:
  /auth/refresh-token/:
    post:
      operationId: auth_refresh-token_create
      summary: Refresh API authentication token by refresh_token.
      description: "Post \"refresh\" token as \"refresh\".\n\nThe return \"access\"\
        \ token needs to be sent as HTTP authentication header\nwith every request\
        \ with 'Bearer ' prefix (case-sensitive)."
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Refresh'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/Tokens'
      tags:
        - auth
    parameters: []
  /auth/token/:
    post:
      operationId: auth_token_create
      summary: Get an API authentication JWT token.
      description: "Post your username & password to get an \"access\" and \"refresh\"\
        \ JWT token.\n\nThe \"access\" token needs to be sent as HTTP authentication\
        \ header\nwith every request with a 'Bearer ' prefix (case-sensitive).\n\n\
        Note that the \"access\" token expires after some time.\n\nThe \"refresh\"\
        \ token can be used to get a new access token\nvia the \"refresh\" endpoint."
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Authenticate'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/Tokens'
      tags:
        - auth
    parameters: []
  /auth/user/:
    get:
      operationId: auth_user_list
      description: Read-only API endpoint for viewing user details for current user
      parameters:
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/User'
      tags:
        - auth
    parameters: []
  /contracts/:
    get:
      operationId: contracts_list
      description: API endpoint for interacting with contracts.
      parameters:
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/Contract'
      tags:
        - contracts
    post:
      operationId: contracts_create
      description: API endpoint for interacting with contracts.
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Contract'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/Contract'
      tags:
        - contracts
    parameters: []
  /contracts/{id}/:
    get:
      operationId: contracts_read
      description: API endpoint for interacting with contracts.
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Contract'
      tags:
        - contracts
    put:
      operationId: contracts_update
      description: API endpoint for interacting with contracts.
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Contract'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Contract'
      tags:
        - contracts
    patch:
      operationId: contracts_partial_update
      description: API endpoint for interacting with contracts.
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Contract'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Contract'
      tags:
        - contracts
    delete:
      operationId: contracts_delete
      description: API endpoint for interacting with contracts.
      parameters: []
      responses:
        '204':
          description: ''
      tags:
        - contracts
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this contract.
        required: true
        type: integer
  /files/:
    get:
      operationId: files_list
      description: A simple ViewSet for viewing simulations
      parameters:
        - name: filename
          in: query
          description: ''
          required: false
          type: string
        - name: filename__icontains
          in: query
          description: ''
          required: false
          type: string
        - name: etag
          in: query
          description: ''
          required: false
          type: string
        - name: expiry_date
          in: query
          description: ''
          required: false
          type: string
        - name: expiry_date__lte
          in: query
          description: ''
          required: false
          type: string
        - name: expiry_date__lt
          in: query
          description: ''
          required: false
          type: string
        - name: expiry_date__gte
          in: query
          description: ''
          required: false
          type: string
        - name: expiry_date__gt
          in: query
          description: ''
          required: false
          type: string
        - name: state
          in: query
          description: ''
          required: false
          type: string
        - name: state__in
          in: query
          description: Multiple values may be separated by commas.
          required: false
          type: string
        - name: type
          in: query
          description: ''
          required: false
          type: string
        - name: type__in
          in: query
          description: Multiple values may be separated by commas.
          required: false
          type: string
        - name: meta
          in: query
          description: ''
          required: false
          type: string
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/File'
      tags:
        - files
    parameters: []
  /files/{id}/:
    get:
      operationId: files_read
      description: A simple ViewSet for viewing simulations
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/File'
      tags:
        - files
    put:
      operationId: files_update
      description: A simple ViewSet for viewing simulations
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/File'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/File'
      tags:
        - files
    patch:
      operationId: files_partial_update
      description: A simple ViewSet for viewing simulations
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/File'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/File'
      tags:
        - files
    delete:
      operationId: files_delete
      description: A simple ViewSet for viewing simulations
      parameters: []
      responses:
        '204':
          description: ''
      tags:
        - files
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this file.
        required: true
        type: integer
  /files/{id}/destroy_file/:
    delete:
      operationId: files_destroy_file
      description: A simple ViewSet for viewing simulations
      parameters: []
      responses:
        '204':
          description: ''
          schema:
            $ref: '#/definitions/File'
        '405':
          description: "types that are allowed to be destroyed: ['timeseries', 'rastertimeseries',\
            \ 'savedstate', 'results']"
      tags:
        - files
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this file.
        required: true
        type: integer
  /files/{id}/download/:
    get:
      operationId: files_download
      description: Endpoint for downloading files.
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Download'
        '400':
          description: File is not uploaded yet or has been removed
        '404':
          description: File not found
      tags:
        - files
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this file.
        required: true
        type: integer
  /files/{id}/processed/:
    put:
      operationId: files_processed
      description: A simple ViewSet for viewing simulations
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/FileMeta'
      responses:
        '200':
          description: OK
        '400':
          description: Upload is already processed
        '404':
          description: upload not found
      tags:
        - files
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this file.
        required: true
        type: integer
  /inpy-versions/:
    get:
      operationId: inpy-versions_list
      description: "Inpy is the service for preparing models to become\nusable by\
        \ the Threedi calculation core. Updates in Inpy often\nresult in updates in\
        \ the calculation core.\n\nThis resource keeps track of updates to the Inpy\
        \ service."
      parameters:
        - name: threedi_version
          in: query
          description: ''
          required: false
          type: string
        - name: threedi_version__contains
          in: query
          description: ''
          required: false
          type: string
        - name: threedi_version__in
          in: query
          description: Multiple values may be separated by commas.
          required: false
          type: string
        - name: threedi_version__startswith
          in: query
          description: ''
          required: false
          type: string
        - name: threedi_version__istartswith
          in: query
          description: ''
          required: false
          type: string
        - name: threedi_version__endswith
          in: query
          description: ''
          required: false
          type: string
        - name: threedi_version__regex
          in: query
          description: ''
          required: false
          type: string
        - name: threedicore_version
          in: query
          description: ''
          required: false
          type: string
        - name: threedicore_version__contains
          in: query
          description: ''
          required: false
          type: string
        - name: threedicore_version__in
          in: query
          description: Multiple values may be separated by commas.
          required: false
          type: string
        - name: threedicore_version__startswith
          in: query
          description: ''
          required: false
          type: string
        - name: threedicore_version__istartswith
          in: query
          description: ''
          required: false
          type: string
        - name: threedicore_version__endswith
          in: query
          description: ''
          required: false
          type: string
        - name: threedicore_version__regex
          in: query
          description: ''
          required: false
          type: string
        - name: slug
          in: query
          description: ''
          required: false
          type: string
        - name: slug__contains
          in: query
          description: ''
          required: false
          type: string
        - name: slug__in
          in: query
          description: Multiple values may be separated by commas.
          required: false
          type: string
        - name: slug__startswith
          in: query
          description: ''
          required: false
          type: string
        - name: slug__istartswith
          in: query
          description: ''
          required: false
          type: string
        - name: slug__endswith
          in: query
          description: ''
          required: false
          type: string
        - name: slug__regex
          in: query
          description: ''
          required: false
          type: string
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/InpyVersion'
      tags:
        - inpy-versions
    post:
      operationId: inpy-versions_create
      description: "Inpy is the service for preparing models to become\nusable by\
        \ the Threedi calculation core. Updates in Inpy often\nresult in updates in\
        \ the calculation core.\n\nThis resource keeps track of updates to the Inpy\
        \ service."
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/InpyVersion'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/InpyVersion'
      tags:
        - inpy-versions
    parameters: []
  /inpy-versions/{id}/:
    get:
      operationId: inpy-versions_read
      description: "Inpy is the service for preparing models to become\nusable by\
        \ the Threedi calculation core. Updates in Inpy often\nresult in updates in\
        \ the calculation core.\n\nThis resource keeps track of updates to the Inpy\
        \ service."
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/InpyVersion'
      tags:
        - inpy-versions
    put:
      operationId: inpy-versions_update
      description: "Inpy is the service for preparing models to become\nusable by\
        \ the Threedi calculation core. Updates in Inpy often\nresult in updates in\
        \ the calculation core.\n\nThis resource keeps track of updates to the Inpy\
        \ service."
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/InpyVersion'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/InpyVersion'
      tags:
        - inpy-versions
    patch:
      operationId: inpy-versions_partial_update
      description: "Inpy is the service for preparing models to become\nusable by\
        \ the Threedi calculation core. Updates in Inpy often\nresult in updates in\
        \ the calculation core.\n\nThis resource keeps track of updates to the Inpy\
        \ service."
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/InpyVersion'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/InpyVersion'
      tags:
        - inpy-versions
    delete:
      operationId: inpy-versions_delete
      description: "Inpy is the service for preparing models to become\nusable by\
        \ the Threedi calculation core. Updates in Inpy often\nresult in updates in\
        \ the calculation core.\n\nThis resource keeps track of updates to the Inpy\
        \ service."
      parameters: []
      responses:
        '204':
          description: ''
      tags:
        - inpy-versions
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this inpy version.
        required: true
        type: integer
  /organisations/:
    get:
      operationId: organisations_list
      summary: Read-only API endpoint for interacting with organisations.
      description: '##Authorization'
      parameters:
        - name: name
          in: query
          description: ''
          required: false
          type: string
        - name: name__contains
          in: query
          description: ''
          required: false
          type: string
        - name: name__in
          in: query
          description: Multiple values may be separated by commas.
          required: false
          type: string
        - name: name__startswith
          in: query
          description: ''
          required: false
          type: string
        - name: name__istartswith
          in: query
          description: ''
          required: false
          type: string
        - name: name__endswith
          in: query
          description: ''
          required: false
          type: string
        - name: name__regex
          in: query
          description: ''
          required: false
          type: string
        - name: unique_id
          in: query
          description: ''
          required: false
          type: string
        - name: unique_id__contains
          in: query
          description: ''
          required: false
          type: string
        - name: unique_id__in
          in: query
          description: Multiple values may be separated by commas.
          required: false
          type: string
        - name: unique_id__startswith
          in: query
          description: ''
          required: false
          type: string
        - name: unique_id__istartswith
          in: query
          description: ''
          required: false
          type: string
        - name: unique_id__endswith
          in: query
          description: ''
          required: false
          type: string
        - name: unique_id__regex
          in: query
          description: ''
          required: false
          type: string
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/Organisation'
      tags:
        - organisations
    parameters: []
  /organisations/{unique_id}/:
    get:
      operationId: organisations_read
      summary: Read-only API endpoint for interacting with organisations.
      description: '##Authorization'
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Organisation'
      tags:
        - organisations
    parameters:
      - name: unique_id
        in: path
        required: true
        type: string
  /organisations/{unique_id}/permissions/:
    get:
      operationId: organisations_permissions
      summary: Read-only API endpoint for interacting with organisations.
      description: '##Authorization'
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/OrganisationRole'
      tags:
        - organisations
    parameters:
      - name: unique_id
        in: path
        required: true
        type: string
  /permissions/:
    get:
      operationId: permissions_list
      description: Permissions management endpoints.
      parameters:
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/OrganisationRole'
      tags:
        - permissions
    post:
      operationId: permissions_create
      description: Permissions management endpoints.
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/OrganisationRole'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/OrganisationRole'
      tags:
        - permissions
    parameters: []
  /permissions/{id}/:
    get:
      operationId: permissions_read
      description: Permissions management endpoints.
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/OrganisationRole'
      tags:
        - permissions
    delete:
      operationId: permissions_delete
      description: Permissions management endpoints.
      parameters: []
      responses:
        '204':
          description: ''
      tags:
        - permissions
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this user organisation role.
        required: true
        type: integer
  /repositories/:
    get:
      operationId: repositories_list
      description: A simple ViewSet for viewing modelmeta
      parameters:
        - name: slug
          in: query
          description: ''
          required: false
          type: string
        - name: slug__contains
          in: query
          description: ''
          required: false
          type: string
        - name: slug__in
          in: query
          description: Multiple values may be separated by commas.
          required: false
          type: string
        - name: slug__startswith
          in: query
          description: ''
          required: false
          type: string
        - name: slug__istartswith
          in: query
          description: ''
          required: false
          type: string
        - name: slug__endswith
          in: query
          description: ''
          required: false
          type: string
        - name: slug__regex
          in: query
          description: ''
          required: false
          type: string
        - name: organisation__id
          in: query
          description: ''
          required: false
          type: number
        - name: organisation__id__range
          in: query
          description: Multiple values may be separated by commas.
          required: false
          type: number
        - name: organisation__id__gt
          in: query
          description: ''
          required: false
          type: number
        - name: organisation__id__gte
          in: query
          description: ''
          required: false
          type: number
        - name: organisation__id__lt
          in: query
          description: ''
          required: false
          type: number
        - name: organisation__id__lte
          in: query
          description: ''
          required: false
          type: number
        - name: organisation__id__isnull
          in: query
          description: ''
          required: false
          type: string
        - name: organisation__name
          in: query
          description: ''
          required: false
          type: string
        - name: organisation__name__contains
          in: query
          description: ''
          required: false
          type: string
        - name: organisation__name__in
          in: query
          description: Multiple values may be separated by commas.
          required: false
          type: string
        - name: organisation__name__startswith
          in: query
          description: ''
          required: false
          type: string
        - name: organisation__name__istartswith
          in: query
          description: ''
          required: false
          type: string
        - name: organisation__name__endswith
          in: query
          description: ''
          required: false
          type: string
        - name: organisation__name__regex
          in: query
          description: ''
          required: false
          type: string
        - name: organisation__unique_id
          in: query
          description: ''
          required: false
          type: string
        - name: organisation__unique_id__contains
          in: query
          description: ''
          required: false
          type: string
        - name: organisation__unique_id__in
          in: query
          description: Multiple values may be separated by commas.
          required: false
          type: string
        - name: organisation__unique_id__startswith
          in: query
          description: ''
          required: false
          type: string
        - name: organisation__unique_id__istartswith
          in: query
          description: ''
          required: false
          type: string
        - name: organisation__unique_id__endswith
          in: query
          description: ''
          required: false
          type: string
        - name: organisation__unique_id__regex
          in: query
          description: ''
          required: false
          type: string
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/Repository'
      tags:
        - repositories
    post:
      operationId: repositories_create
      description: A simple ViewSet for viewing modelmeta
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Repository'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/Repository'
      tags:
        - repositories
    parameters: []
  /repositories/{id}/:
    get:
      operationId: repositories_read
      description: A simple ViewSet for viewing modelmeta
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Repository'
      tags:
        - repositories
    put:
      operationId: repositories_update
      description: A simple ViewSet for viewing modelmeta
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Repository'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Repository'
      tags:
        - repositories
    patch:
      operationId: repositories_partial_update
      description: A simple ViewSet for viewing modelmeta
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Repository'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Repository'
      tags:
        - repositories
    delete:
      operationId: repositories_delete
      description: A simple ViewSet for viewing modelmeta
      parameters: []
      responses:
        '204':
          description: ''
      tags:
        - repositories
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this repository.
        required: true
        type: integer
  /repositories/{id}/revisions/:
    get:
      operationId: repositories_revisions
      description: A simple ViewSet for viewing modelmeta
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/Revision'
      tags:
        - repositories
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this repository.
        required: true
        type: integer
  /repositories/{id}/threedimodels/:
    get:
      operationId: repositories_threedimodels
      description: A simple ViewSet for viewing modelmeta
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/ThreediModel'
      tags:
        - repositories
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this repository.
        required: true
        type: integer
  /revisions/:
    get:
      operationId: revisions_list
      description: A simple ViewSet for viewing modelmeta
      parameters:
        - name: number
          in: query
          description: ''
          required: false
          type: number
        - name: number__range
          in: query
          description: Multiple values may be separated by commas.
          required: false
          type: number
        - name: number__gt
          in: query
          description: ''
          required: false
          type: number
        - name: number__gte
          in: query
          description: ''
          required: false
          type: number
        - name: number__lt
          in: query
          description: ''
          required: false
          type: number
        - name: number__lte
          in: query
          description: ''
          required: false
          type: number
        - name: number__isnull
          in: query
          description: ''
          required: false
          type: string
        - name: hash
          in: query
          description: ''
          required: false
          type: string
        - name: hash__contains
          in: query
          description: ''
          required: false
          type: string
        - name: hash__in
          in: query
          description: Multiple values may be separated by commas.
          required: false
          type: string
        - name: hash__startswith
          in: query
          description: ''
          required: false
          type: string
        - name: hash__istartswith
          in: query
          description: ''
          required: false
          type: string
        - name: hash__endswith
          in: query
          description: ''
          required: false
          type: string
        - name: hash__regex
          in: query
          description: ''
          required: false
          type: string
        - name: repository__id
          in: query
          description: ''
          required: false
          type: number
        - name: repository__id__range
          in: query
          description: Multiple values may be separated by commas.
          required: false
          type: number
        - name: repository__id__gt
          in: query
          description: ''
          required: false
          type: number
        - name: repository__id__gte
          in: query
          description: ''
          required: false
          type: number
        - name: repository__id__lt
          in: query
          description: ''
          required: false
          type: number
        - name: repository__id__lte
          in: query
          description: ''
          required: false
          type: number
        - name: repository__id__isnull
          in: query
          description: ''
          required: false
          type: string
        - name: repository__slug
          in: query
          description: ''
          required: false
          type: string
        - name: repository__slug__contains
          in: query
          description: ''
          required: false
          type: string
        - name: repository__slug__in
          in: query
          description: Multiple values may be separated by commas.
          required: false
          type: string
        - name: repository__slug__startswith
          in: query
          description: ''
          required: false
          type: string
        - name: repository__slug__istartswith
          in: query
          description: ''
          required: false
          type: string
        - name: repository__slug__endswith
          in: query
          description: ''
          required: false
          type: string
        - name: repository__slug__regex
          in: query
          description: ''
          required: false
          type: string
        - name: repository__organisation__name
          in: query
          description: ''
          required: false
          type: string
        - name: repository__organisation__name__contains
          in: query
          description: ''
          required: false
          type: string
        - name: repository__organisation__name__in
          in: query
          description: Multiple values may be separated by commas.
          required: false
          type: string
        - name: repository__organisation__name__startswith
          in: query
          description: ''
          required: false
          type: string
        - name: repository__organisation__name__istartswith
          in: query
          description: ''
          required: false
          type: string
        - name: repository__organisation__name__endswith
          in: query
          description: ''
          required: false
          type: string
        - name: repository__organisation__name__regex
          in: query
          description: ''
          required: false
          type: string
        - name: repository__organisation__unique_id
          in: query
          description: ''
          required: false
          type: string
        - name: repository__organisation__unique_id__contains
          in: query
          description: ''
          required: false
          type: string
        - name: repository__organisation__unique_id__in
          in: query
          description: Multiple values may be separated by commas.
          required: false
          type: string
        - name: repository__organisation__unique_id__startswith
          in: query
          description: ''
          required: false
          type: string
        - name: repository__organisation__unique_id__istartswith
          in: query
          description: ''
          required: false
          type: string
        - name: repository__organisation__unique_id__endswith
          in: query
          description: ''
          required: false
          type: string
        - name: repository__organisation__unique_id__regex
          in: query
          description: ''
          required: false
          type: string
        - name: is_pinned
          in: query
          description: ''
          required: false
          type: string
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/Revision'
      tags:
        - revisions
    post:
      operationId: revisions_create
      description: A simple ViewSet for viewing modelmeta
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Revision'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/Revision'
      tags:
        - revisions
    parameters: []
  /revisions/{id}/:
    get:
      operationId: revisions_read
      description: A simple ViewSet for viewing modelmeta
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Revision'
      tags:
        - revisions
    put:
      operationId: revisions_update
      description: A simple ViewSet for viewing modelmeta
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Revision'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Revision'
      tags:
        - revisions
    patch:
      operationId: revisions_partial_update
      description: A simple ViewSet for viewing modelmeta
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Revision'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Revision'
      tags:
        - revisions
    delete:
      operationId: revisions_delete
      description: A simple ViewSet for viewing modelmeta
      parameters: []
      responses:
        '204':
          description: ''
      tags:
        - revisions
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this revision.
        required: true
        type: integer
  /revisions/{id}/threedimodels/:
    get:
      operationId: revisions_threedimodels
      description: A simple ViewSet for viewing modelmeta
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/ThreediModel'
      tags:
        - revisions
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this revision.
        required: true
        type: integer
  /roles/:
    get:
      operationId: roles_list
      description: Read-only API endpoint for viewing roles
      parameters:
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/Role'
      tags:
        - roles
    parameters: []
  /roles/{id}/:
    get:
      operationId: roles_read
      description: Read-only API endpoint for viewing roles
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Role'
      tags:
        - roles
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this role.
        required: true
        type: integer
  /simulations/:
    get:
      operationId: simulations_list
      summary: List all simulations resources.
      description: "Several filter are available, for instance the creation date of\n\
        the resource. Some usage examples:\n\nTo get all simulation resources that\
        \ have been created on\nGuido van Rossum's birthday\n\n```\n    ?created__date=1956-01-31\n\
        ```\n\nTo get all simulation resources that have been created during the\n\
        1988 UEFA European Football Championship\n```\n   ?created__date__gte=1988-06-10&created__date__lte=1988-06-25\n\
        ```\n\nTo get all simulation resources that have been created in the month\
        \ of\nthe Carnation Revolution\n```\n    ?created__year=1974&created__month=04\n\
        ```"
      parameters:
        - name: name
          in: query
          description: ''
          required: false
          type: string
        - name: name__contains
          in: query
          description: ''
          required: false
          type: string
        - name: name__in
          in: query
          description: Multiple values may be separated by commas.
          required: false
          type: string
        - name: name__startswith
          in: query
          description: ''
          required: false
          type: string
        - name: name__istartswith
          in: query
          description: ''
          required: false
          type: string
        - name: name__endswith
          in: query
          description: ''
          required: false
          type: string
        - name: name__regex
          in: query
          description: ''
          required: false
          type: string
        - name: uuid
          in: query
          description: ''
          required: false
          type: string
        - name: uuid__contains
          in: query
          description: ''
          required: false
          type: string
        - name: uuid__in
          in: query
          description: Multiple values may be separated by commas.
          required: false
          type: string
        - name: uuid__startswith
          in: query
          description: ''
          required: false
          type: string
        - name: uuid__istartswith
          in: query
          description: ''
          required: false
          type: string
        - name: uuid__endswith
          in: query
          description: ''
          required: false
          type: string
        - name: uuid__regex
          in: query
          description: ''
          required: false
          type: string
        - name: created__date
          in: query
          description: ''
          required: false
          type: string
        - name: created__date__gt
          in: query
          description: ''
          required: false
          type: string
        - name: created__date__gte
          in: query
          description: ''
          required: false
          type: string
        - name: created__date__lt
          in: query
          description: ''
          required: false
          type: string
        - name: created__date__lte
          in: query
          description: ''
          required: false
          type: string
        - name: created__year
          in: query
          description: ''
          required: false
          type: number
        - name: created__year__gt
          in: query
          description: ''
          required: false
          type: number
        - name: created__year__gte
          in: query
          description: ''
          required: false
          type: number
        - name: created__year__lt
          in: query
          description: ''
          required: false
          type: number
        - name: created__year__lte
          in: query
          description: ''
          required: false
          type: number
        - name: created__month
          in: query
          description: ''
          required: false
          type: number
        - name: created__month__lte
          in: query
          description: ''
          required: false
          type: number
        - name: created__day
          in: query
          description: ''
          required: false
          type: number
        - name: created__day__lt
          in: query
          description: ''
          required: false
          type: number
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/Simulation'
      tags:
        - simulations
    post:
      operationId: simulations_create
      summary: Create a simulation resource
      description: "There are two options to specify the desired duration for the\n\
        simulation, either by using the ``end_datetime`` **or** the\n``duration``\
        \ parameter.\n\n```\n{\n  \"name\":           # give the simualtion a name\
        \ (optional)\n  \"threedimodel\":   # The model schema to use for the simulation\
        \ by\n                    referring to the id of the threedimodel resource\n\
        \  \"organisation\":   # uuid of the organisation for which the\n        \
        \            simulation is run\n  \"start_datetime\": # datetime (in ISO 8601\
        \ (UTC) format) for the\n                    simulation start, e.g. \"YYYY-MM-DDThh:mm:ss\"\
        \n  \"end_datetime\":   # datetime (in ISO 8601 (UTC) format) for the\n  \
        \                  simulation end, e.g. \"YYYY-MM-DDThh:mm:ss\"\n  \"duration\"\
        :       # in seconds, can be used instead of end_datetime\n}\n```"
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Simulation'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/Simulation'
      tags:
        - simulations
    parameters: []
  /simulations/post_processing/lizard/queue/:
    get:
      operationId: simulations_post_processing_lizard_queue_list
      description: "Read-only API endpoint for viewing simulations that need to be\n\
        post-processed by Lizard (post-processing status is 'requested')."
      parameters:
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/PostProcessingQueue'
      tags:
        - simulations
    parameters: []
  /simulations/{id}/:
    get:
      operationId: simulations_read
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Simulation'
      tags:
        - simulations
    put:
      operationId: simulations_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/SimulationUpdate'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/SimulationUpdate'
      tags:
        - simulations
    patch:
      operationId: simulations_partial_update
      description: ''
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/SimulationUpdate'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/SimulationUpdate'
      tags:
        - simulations
    delete:
      operationId: simulations_delete
      description: ''
      parameters: []
      responses:
        '204':
          description: ''
      tags:
        - simulations
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this simulation.
        required: true
        type: integer
  /simulations/{id}/events/:
    get:
      operationId: simulations_events
      description: ''
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Event'
      tags:
        - simulations
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this simulation.
        required: true
        type: integer
  /simulations/{simulation_pk}/actions/:
    post:
      operationId: simulations_actions_create
      summary: Post an action to the simulation to start, pause or end it.
      description: "Example usage:\n\nTo initialize a simulation (and pause)\n```\n\
        {\"name\": \"initialize\"}\n```\n\nTo initialize and directly run a simulation\n\
        ```\n{\"name\": \"start\"}\n```\nAlso use \"start\" to resume a paused simulation.\n\
        \nIf you want to pause the simulation automatically after a given duration\n\
        use the duration parameter\n```\n{\n  \"name\": \"start\",\n  \"duration\"\
        : 2500\n}\n```\n\nTo pause a simulation\n```\n{\"name\": \"pause\"}\n```\n\
        Please note: The simulation will automatically be shut down after the\ndefault\
        \ timeout of 300 seconds has been reached. You can customize\nthis value by\
        \ specifying the timeout parameter\n```\n{\n  \"name\": \"pause\",\n  \"timeout\"\
        : 999\n}\n```\n\nTo end a simulation\n```\n{\"name\": \"shutdown\"}\n```"
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Action'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/Action'
        '429':
          description: No available/free sessions
      tags:
        - simulations
    parameters:
      - name: simulation_pk
        in: path
        required: true
        type: string
  /simulations/{simulation_pk}/create-saved-states/stable-threshold/:
    get:
      operationId: simulations_create-saved-states_stable-threshold_list
      description: Stable threshold SavedState
      parameters:
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/StableThresholdSavedState'
      tags:
        - simulations
    post:
      operationId: simulations_create-saved-states_stable-threshold_create
      summary: "Save the state of the simulation to file when a given (set of)\nvariable(s)\
        \ becomes stable"
      description: "Example\n```\n{\n  \"expiry\": \"2020-08-15T13:02:30.317Z\",\n\
        \  \"thresholds\": [\n    {\n      \"variable\": \"s1\",\n      \"value\"\
        : 0.005\n    }\n  ]\n}\n```"
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/StableThresholdSavedState'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/StableThresholdSavedState'
      tags:
        - simulations
    parameters:
      - name: simulation_pk
        in: path
        required: true
        type: string
  /simulations/{simulation_pk}/create-saved-states/stable-threshold/{id}/:
    get:
      operationId: simulations_create-saved-states_stable-threshold_read
      description: Stable threshold SavedState
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/StableThresholdSavedState'
      tags:
        - simulations
    put:
      operationId: simulations_create-saved-states_stable-threshold_update
      description: Stable threshold SavedState
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/StableThresholdSavedState'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/StableThresholdSavedState'
      tags:
        - simulations
    patch:
      operationId: simulations_create-saved-states_stable-threshold_partial_update
      description: Stable threshold SavedState
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/StableThresholdSavedState'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/StableThresholdSavedState'
      tags:
        - simulations
    delete:
      operationId: simulations_create-saved-states_stable-threshold_delete
      description: Stable threshold SavedState
      parameters: []
      responses:
        '204':
          description: ''
      tags:
        - simulations
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this saved state.
        required: true
        type: integer
      - name: simulation_pk
        in: path
        required: true
        type: string
  /simulations/{simulation_pk}/create-saved-states/stable-threshold/{id}/upload/:
    post:
      operationId: simulations_create-saved-states_stable-threshold_upload
      description: Stable threshold SavedState
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Upload'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/Upload'
        '404':
          description: Simulation not found
      tags:
        - simulations
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this saved state.
        required: true
        type: integer
      - name: simulation_pk
        in: path
        required: true
        type: string
  /simulations/{simulation_pk}/create-saved-states/timed/:
    get:
      operationId: simulations_create-saved-states_timed_list
      description: Timed SavedState
      parameters:
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/TimedSavedStateUpdate'
      tags:
        - simulations
    post:
      operationId: simulations_create-saved-states_timed_create
      summary: Save the state at a given time of the simulation to file
      description: "```\n    {\n      \"name\":   # custom name for the saved state\
        \ (optional)\n      \"tags\":   # add tags to the resource. Either space or\
        \ comma\n                separated (optional)\n      \"expiry\": # datetime\
        \ (in ISO 8601 (UTC) format) until the saved\n                state file will\
        \ be kept\n      \"time\":   # the state at this given time of the simulation\
        \ will\n                 be saved to file\n    }\n```"
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/TimedSavedStateUpdate'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/TimedSavedStateUpdate'
      tags:
        - simulations
    parameters:
      - name: simulation_pk
        in: path
        required: true
        type: string
  /simulations/{simulation_pk}/create-saved-states/timed/{id}/:
    get:
      operationId: simulations_create-saved-states_timed_read
      description: Timed SavedState
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/TimedSavedStateUpdate'
      tags:
        - simulations
    put:
      operationId: simulations_create-saved-states_timed_update
      description: Timed SavedState
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/TimedSavedStateUpdate'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/TimedSavedStateUpdate'
      tags:
        - simulations
    patch:
      operationId: simulations_create-saved-states_timed_partial_update
      description: Timed SavedState
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/TimedSavedStateUpdate'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/TimedSavedStateUpdate'
      tags:
        - simulations
    delete:
      operationId: simulations_create-saved-states_timed_delete
      description: Timed SavedState
      parameters: []
      responses:
        '204':
          description: ''
      tags:
        - simulations
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this saved state.
        required: true
        type: integer
      - name: simulation_pk
        in: path
        required: true
        type: string
  /simulations/{simulation_pk}/create-saved-states/timed/{id}/upload/:
    post:
      operationId: simulations_create-saved-states_timed_upload
      description: Timed SavedState
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Upload'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/Upload'
        '404':
          description: Simulation not found
      tags:
        - simulations
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this saved state.
        required: true
        type: integer
      - name: simulation_pk
        in: path
        required: true
        type: string
  /simulations/{simulation_pk}/events/breaches/:
    get:
      operationId: simulations_events_breaches_list
      description: A simple ViewSet for viewing Breaches
      parameters:
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/Breach'
      tags:
        - simulations
    post:
      operationId: simulations_events_breaches_create
      description: A simple ViewSet for viewing Breaches
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Breach'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/Breach'
      tags:
        - simulations
    parameters:
      - name: simulation_pk
        in: path
        required: true
        type: string
  /simulations/{simulation_pk}/events/breaches/{id}/:
    get:
      operationId: simulations_events_breaches_read
      description: A simple ViewSet for viewing Breaches
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Breach'
      tags:
        - simulations
    put:
      operationId: simulations_events_breaches_update
      description: A simple ViewSet for viewing Breaches
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Breach'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Breach'
      tags:
        - simulations
    patch:
      operationId: simulations_events_breaches_partial_update
      description: A simple ViewSet for viewing Breaches
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Breach'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Breach'
      tags:
        - simulations
    delete:
      operationId: simulations_events_breaches_delete
      description: A simple ViewSet for viewing Breaches
      parameters: []
      responses:
        '204':
          description: ''
      tags:
        - simulations
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this breach.
        required: true
        type: integer
      - name: simulation_pk
        in: path
        required: true
        type: string
  /simulations/{simulation_pk}/events/lateral/constant/:
    get:
      operationId: simulations_events_lateral_constant_list
      description: A simple ViewSet for viewing ConstantLateral
      parameters:
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/ConstantLateral'
      tags:
        - simulations
    post:
      operationId: simulations_events_lateral_constant_create
      description: A simple ViewSet for viewing ConstantLateral
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/ConstantLateral'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/ConstantLateral'
      tags:
        - simulations
    parameters:
      - name: simulation_pk
        in: path
        required: true
        type: string
  /simulations/{simulation_pk}/events/lateral/constant/{id}/:
    get:
      operationId: simulations_events_lateral_constant_read
      description: A simple ViewSet for viewing ConstantLateral
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/ConstantLateral'
      tags:
        - simulations
    put:
      operationId: simulations_events_lateral_constant_update
      description: A simple ViewSet for viewing ConstantLateral
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/ConstantLateral'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/ConstantLateral'
      tags:
        - simulations
    patch:
      operationId: simulations_events_lateral_constant_partial_update
      description: A simple ViewSet for viewing ConstantLateral
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/ConstantLateral'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/ConstantLateral'
      tags:
        - simulations
    delete:
      operationId: simulations_events_lateral_constant_delete
      description: A simple ViewSet for viewing ConstantLateral
      parameters: []
      responses:
        '204':
          description: ''
      tags:
        - simulations
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this lateral.
        required: true
        type: integer
      - name: simulation_pk
        in: path
        required: true
        type: string
  /simulations/{simulation_pk}/events/lateral/constant/{id}/processed/:
    put:
      operationId: simulations_events_lateral_constant_processed
      description: A simple ViewSet for viewing ConstantLateral
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/GridEventState'
      responses:
        '200':
          description: OK
        '400':
          description: Event is already processed
      tags:
        - simulations
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this lateral.
        required: true
        type: integer
      - name: simulation_pk
        in: path
        required: true
        type: string
  /simulations/{simulation_pk}/events/lateral/timeseries/:
    get:
      operationId: simulations_events_lateral_timeseries_list
      description: A simple ViewSet for viewing TimeseriesLateral
      parameters:
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/TimeseriesLateral'
      tags:
        - simulations
    post:
      operationId: simulations_events_lateral_timeseries_create
      description: A simple ViewSet for viewing TimeseriesLateral
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/TimeseriesLateral'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/TimeseriesLateral'
      tags:
        - simulations
    parameters:
      - name: simulation_pk
        in: path
        required: true
        type: string
  /simulations/{simulation_pk}/events/lateral/timeseries/{id}/:
    get:
      operationId: simulations_events_lateral_timeseries_read
      description: A simple ViewSet for viewing TimeseriesLateral
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/TimeseriesLateral'
      tags:
        - simulations
    put:
      operationId: simulations_events_lateral_timeseries_update
      description: A simple ViewSet for viewing TimeseriesLateral
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/TimeseriesLateral'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/TimeseriesLateral'
      tags:
        - simulations
    patch:
      operationId: simulations_events_lateral_timeseries_partial_update
      description: A simple ViewSet for viewing TimeseriesLateral
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/TimeseriesLateral'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/TimeseriesLateral'
      tags:
        - simulations
    delete:
      operationId: simulations_events_lateral_timeseries_delete
      description: A simple ViewSet for viewing TimeseriesLateral
      parameters: []
      responses:
        '204':
          description: ''
      tags:
        - simulations
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this lateral.
        required: true
        type: integer
      - name: simulation_pk
        in: path
        required: true
        type: string
  /simulations/{simulation_pk}/events/lateral/timeseries/{id}/processed/:
    put:
      operationId: simulations_events_lateral_timeseries_processed
      description: A simple ViewSet for viewing TimeseriesLateral
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/GridEventState'
      responses:
        '200':
          description: OK
        '400':
          description: Event is already processed
      tags:
        - simulations
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this lateral.
        required: true
        type: integer
      - name: simulation_pk
        in: path
        required: true
        type: string
  /simulations/{simulation_pk}/events/rain/constant/:
    get:
      operationId: simulations_events_rain_constant_list
      description: A simple ViewSet for viewing TimeseriesRain
      parameters:
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/ConstantRain'
      tags:
        - simulations
    post:
      operationId: simulations_events_rain_constant_create
      description: A simple ViewSet for viewing TimeseriesRain
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/ConstantRain'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/ConstantRain'
      tags:
        - simulations
    parameters:
      - name: simulation_pk
        in: path
        required: true
        type: string
  /simulations/{simulation_pk}/events/rain/constant/{id}/:
    get:
      operationId: simulations_events_rain_constant_read
      description: A simple ViewSet for viewing TimeseriesRain
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/ConstantRain'
      tags:
        - simulations
    put:
      operationId: simulations_events_rain_constant_update
      description: A simple ViewSet for viewing TimeseriesRain
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/ConstantRain'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/ConstantRain'
      tags:
        - simulations
    patch:
      operationId: simulations_events_rain_constant_partial_update
      description: A simple ViewSet for viewing TimeseriesRain
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/ConstantRain'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/ConstantRain'
      tags:
        - simulations
    delete:
      operationId: simulations_events_rain_constant_delete
      description: A simple ViewSet for viewing TimeseriesRain
      parameters: []
      responses:
        '204':
          description: ''
      tags:
        - simulations
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this timeseries rain.
        required: true
        type: integer
      - name: simulation_pk
        in: path
        required: true
        type: string
  /simulations/{simulation_pk}/events/rain/local/constant/:
    get:
      operationId: simulations_events_rain_local_constant_list
      description: A simple ViewSet for viewing TimeseriesRain
      parameters:
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/ConstantLocalRain'
      tags:
        - simulations
    post:
      operationId: simulations_events_rain_local_constant_create
      description: A simple ViewSet for viewing TimeseriesRain
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/ConstantLocalRain'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/ConstantLocalRain'
      tags:
        - simulations
    parameters:
      - name: simulation_pk
        in: path
        required: true
        type: string
  /simulations/{simulation_pk}/events/rain/local/constant/{id}/:
    get:
      operationId: simulations_events_rain_local_constant_read
      description: A simple ViewSet for viewing TimeseriesRain
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/ConstantLocalRain'
      tags:
        - simulations
    put:
      operationId: simulations_events_rain_local_constant_update
      description: A simple ViewSet for viewing TimeseriesRain
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/ConstantLocalRain'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/ConstantLocalRain'
      tags:
        - simulations
    patch:
      operationId: simulations_events_rain_local_constant_partial_update
      description: A simple ViewSet for viewing TimeseriesRain
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/ConstantLocalRain'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/ConstantLocalRain'
      tags:
        - simulations
    delete:
      operationId: simulations_events_rain_local_constant_delete
      description: A simple ViewSet for viewing TimeseriesRain
      parameters: []
      responses:
        '204':
          description: ''
      tags:
        - simulations
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this local rain.
        required: true
        type: integer
      - name: simulation_pk
        in: path
        required: true
        type: string
  /simulations/{simulation_pk}/events/rain/local/timeseries/:
    get:
      operationId: simulations_events_rain_local_timeseries_list
      description: A simple ViewSet for viewing TimeseriesLateral
      parameters:
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/TimeseriesLocalRain'
      tags:
        - simulations
    post:
      operationId: simulations_events_rain_local_timeseries_create
      description: A simple ViewSet for viewing TimeseriesLateral
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/TimeseriesLocalRain'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/TimeseriesLocalRain'
      tags:
        - simulations
    parameters:
      - name: simulation_pk
        in: path
        required: true
        type: string
  /simulations/{simulation_pk}/events/rain/local/timeseries/{id}/:
    get:
      operationId: simulations_events_rain_local_timeseries_read
      description: A simple ViewSet for viewing TimeseriesLateral
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/TimeseriesLocalRain'
      tags:
        - simulations
    put:
      operationId: simulations_events_rain_local_timeseries_update
      description: A simple ViewSet for viewing TimeseriesLateral
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/TimeseriesLocalRain'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/TimeseriesLocalRain'
      tags:
        - simulations
    patch:
      operationId: simulations_events_rain_local_timeseries_partial_update
      description: A simple ViewSet for viewing TimeseriesLateral
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/TimeseriesLocalRain'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/TimeseriesLocalRain'
      tags:
        - simulations
    delete:
      operationId: simulations_events_rain_local_timeseries_delete
      description: A simple ViewSet for viewing TimeseriesLateral
      parameters: []
      responses:
        '204':
          description: ''
      tags:
        - simulations
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this local rain.
        required: true
        type: integer
      - name: simulation_pk
        in: path
        required: true
        type: string
  /simulations/{simulation_pk}/events/rain/rasters/lizard/:
    get:
      operationId: simulations_events_rain_rasters_lizard_list
      description: A simple ViewSet for viewing lizardRasterRain
      parameters:
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/LizardRasterRain'
      tags:
        - simulations
    post:
      operationId: simulations_events_rain_rasters_lizard_create
      description: A simple ViewSet for viewing lizardRasterRain
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/LizardRasterRain'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/LizardRasterRain'
      tags:
        - simulations
    parameters:
      - name: simulation_pk
        in: path
        required: true
        type: string
  /simulations/{simulation_pk}/events/rain/rasters/lizard/{id}/:
    get:
      operationId: simulations_events_rain_rasters_lizard_read
      description: A simple ViewSet for viewing lizardRasterRain
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/LizardRasterRain'
      tags:
        - simulations
    put:
      operationId: simulations_events_rain_rasters_lizard_update
      description: A simple ViewSet for viewing lizardRasterRain
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/LizardRasterRain'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/LizardRasterRain'
      tags:
        - simulations
    patch:
      operationId: simulations_events_rain_rasters_lizard_partial_update
      description: A simple ViewSet for viewing lizardRasterRain
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/LizardRasterRain'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/LizardRasterRain'
      tags:
        - simulations
    delete:
      operationId: simulations_events_rain_rasters_lizard_delete
      description: A simple ViewSet for viewing lizardRasterRain
      parameters: []
      responses:
        '204':
          description: ''
      tags:
        - simulations
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this lizard raster rain.
        required: true
        type: integer
      - name: simulation_pk
        in: path
        required: true
        type: string
  /simulations/{simulation_pk}/events/rain/rasters/netcdf/:
    get:
      operationId: simulations_events_rain_rasters_netcdf_list
      description: NetCDF 4 raster rain
      parameters:
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/NetCDFRasterRain'
      tags:
        - simulations
    post:
      operationId: simulations_events_rain_rasters_netcdf_create
      description: NetCDF 4 raster rain
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/Upload'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/Upload'
      tags:
        - simulations
    parameters:
      - name: simulation_pk
        in: path
        required: true
        type: string
  /simulations/{simulation_pk}/events/rain/rasters/netcdf/{id}/:
    get:
      operationId: simulations_events_rain_rasters_netcdf_read
      description: NetCDF 4 raster rain
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/NetCDFRasterRain'
      tags:
        - simulations
    put:
      operationId: simulations_events_rain_rasters_netcdf_update
      description: NetCDF 4 raster rain
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/NetCDFRasterRain'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/NetCDFRasterRain'
      tags:
        - simulations
    delete:
      operationId: simulations_events_rain_rasters_netcdf_delete
      description: NetCDF 4 raster rain
      parameters: []
      responses:
        '204':
          description: ''
      tags:
        - simulations
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this file raster rain.
        required: true
        type: integer
      - name: simulation_pk
        in: path
        required: true
        type: string
  /simulations/{simulation_pk}/events/rain/timeseries/:
    get:
      operationId: simulations_events_rain_timeseries_list
      description: A simple ViewSet for viewing TimeseriesRain
      parameters:
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/TimeseriesRain'
      tags:
        - simulations
    post:
      operationId: simulations_events_rain_timeseries_create
      description: A simple ViewSet for viewing TimeseriesRain
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/TimeseriesRain'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/TimeseriesRain'
      tags:
        - simulations
    parameters:
      - name: simulation_pk
        in: path
        required: true
        type: string
  /simulations/{simulation_pk}/events/rain/timeseries/lizard/:
    get:
      operationId: simulations_events_rain_timeseries_lizard_list
      description: A simple ViewSet for viewing LizardTimeseriesRain
      parameters:
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
          description: ''
          schema:
            required:
              - count
              - results
            type: object
            properties:
              count:
                type: integer
              next:
                type: string
                format: uri
                x-nullable: true
              previous:
                type: string
                format: uri
                x-nullable: true
              results:
                type: array
                items:
                  $ref: '#/definitions/LizardTimeseriesRain'
      tags:
        - simulations
    post:
      operationId: simulations_events_rain_timeseries_lizard_create
      description: A simple ViewSet for viewing LizardTimeseriesRain
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/LizardTimeseriesRain'
      responses:
        '201':
          description: ''
          schema:
            $ref: '#/definitions/LizardTimeseriesRain'
      tags:
        - simulations
    parameters:
      - name: simulation_pk
        in: path
        required: true
        type: string
  /simulations/{simulation_pk}/events/rain/timeseries/lizard/{id}/:
    get:
      operationId: simulations_events_rain_timeseries_lizard_read
      description: A simple ViewSet for viewing LizardTimeseriesRain
      parameters: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/LizardTimeseriesRain'
      tags:
        - simulations
    put:
      operationId: simulations_events_rain_timeseries_lizard_update
      description: A simple ViewSet for viewing LizardTimeseriesRain
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/LizardTimeseriesRain'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/LizardTimeseriesRain'
      tags:
        - simulations
    patch:
      operationId: simulations_events_rain_timeseries_lizard_partial_update
      description: A simple ViewSet for viewing LizardTimeseriesRain
      parameters:
        - name: data
          in: body
          required: true
          schema:
            $ref: '#/definitions/LizardTimeseriesRain'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/LizardTimeseriesRain'
      tags:
        - simulations
    delete:
      operationId: simulations_events_rain_timeseries_lizard_delete
      description: A simple ViewSet for viewing LizardTimeseriesRain
      parameters: []
      responses:
        '204':
          description: ''
      tags:
        - simulations
    parameters:
      - name: id
        in: path
        description: A unique integer value identifying this lizard timeseries rain.
        required: true
        type: integer
      - name: simulation_pk
        in: path
        required: true
        type: string
  /simulations/{simulation_pk}/events/rain/timeseries/netcdf/:
    get:
      operationId: simulations_events_rain_timeseries_netcdf_list
      description: NetCDF 4 timeseries rain
      parameters:
        - name: limit
          in: query
          description: Number of results to return per page.
          required: false
          type: integer
        - name: offset
          in: query
          description: The initial index from which to return the results.
          required: false
          type: integer
      responses:
        '200':
[...]
